- title "Draught"

%p
  %strong Version:
  =h @draught.version
%p
  %strong Display Name:
  =h @draught.display_name
%p
  %strong Full Name:
  =h @draught.full_name
%p
  %strong Brewery:
  =h @draught.brewery
%p
  %strong Country:
  =h @draught.country
%p
  %strong Abv:
  =h number_to_percentage @draught.abv, :precision =>2
%p
  %strong Source:
  =h @draught.source
%p
  %strong Volume:
  =h @draught.volume.to_s + " " + @draught.volume_unit
%p
  %strong Keg Cost:
  =h number_to_currency @draught.keg_cost
%p
  %strong Serving Size (ml):
  =h @draught.serving_size
%p
  %strong Serving Cost
  =h number_to_currency @draught.cost
%p
  %strong Glass Type:
  =h @draught.glass_type
%p
  %strong Sales Tax:
  =h number_to_percentage @draught.sales_tax, :precision =>2
%p
  %strong Price:
  =h number_to_currency @draught.price
%p
  %strong Stock:
  =h @draught.stock
%p
  %strong Display:
  =h @draught.display

%p
  = link_to "Edit", edit_draught_path(@draught)
  |
  = link_to "Destroy", @draught, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", draughts_path
