* {
  -webkit-user-select: none; }

body {
  background-color: black;
  font-family: Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }
  a img {
    border: none; }

ul {
  list-style-type: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.alignleft {
  float: left;
  padding-left: 10px; }

.alignright {
  float: right;
  padding-right: 10px; }

#text_field {
  font-size: 26px;
  width: 230px;
  float: left;
  margin-top: 20px;
  margin-left: 10px; }

#tab_form a {
  border: 4px solid rgba(244, 0, 80, 0.8); }

#tab_list {
  position: relative;
  z-index: 1;
  overflow: auto;
  margin-left: 20px;
  margin-top: 20px;
  width: 340px;
  height: 650px;
  position: relative;
  z-index: 1;
  overflow: auto;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px; }
  #tab_list ul {
    margin: 0;
    padding: 0;
    min-height: 651px; }
  #tab_list li {
    margin: 0;
    border-top: 1px solid;
      border-top-color: #cccccc;
    border-bottom: 1px solid;
      border-bottom-color: #222222;
    padding: 0.5em 0 0.5em 0.5em; }
    #tab_list li .price {
      width: 50px;
      height: 100%;
      float: right;
      padding-right: 1em; }
    #tab_list li .recent a {
      color: rgba(244, 0, 80, 0.8); }

#wrap {
  margin: 0px auto;
  width: 768px; }

#container {
  height: 928px; }

#top_bar {
  background: black;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #cccccc; }
  #top_bar a {
    margin-left: 4px;
    color: #cccccc; }
  #top_bar .user {
    float: right; }

#left_bar {
  background: #c4c8cf;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  width: 383px;
  height: 910px;
  margin-right: 1px;
  float: left; }
  #left_bar ul {
    margin: 0;
    padding: 0; }
  #left_bar li {
    margin: 0;
    border-top: 1px solid;
      border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid;
      border-bottom-color: rgba(0, 0, 0, 0.3); }
    #left_bar li a {
      display: block;
      padding: 0.5em 0 0.5em 0.5em; }

#login_box {
  padding: 20px 20px;
  background: #c4c8cf;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 200px;
  margin: 0px auto; }

#right_bar {
  background: #c4c8cf;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  width: 383px;
  height: 910px;
  float: left; }
  #right_bar .tab_name {
    top: 20px;
    margin-left: 10px;
    font-size: 34px; }

#nav_bar {
  margin-top: -18px;
  font-weight: bold;
  height: 50px;
  border-bottom: solid 1px #222222;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#848484), color-stop(0.6, #a1a1a1)); }

#nav_button {
  margin-left: 150px;
  font-size: 20px; }
  #nav_button li {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#848484), color-stop(0.6, #a1a1a1));
    display: block;
    width: 80px;
    float: left;
    margin-top: 7px;
    border-right: 1px solid #444444;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444; }
    #nav_button li a {
      display: block;
      text-align: center;
      color: #222222;
      padding: 5px 0; }
  #nav_button .right-item {
    border-right: 1px solid #444444;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px; }
  #nav_button .left-item {
    border-left: 1px solid #444444;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px; }
  #nav_button .highlight {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#4c4c4c), color-stop(0.6, #474747)); }
    #nav_button .highlight a {
      color: #cccccc;
      text-shadow: 0px 0px 40px white; }

#left_list {
  position: relative;
  z-index: 1;
  overflow: auto;
  height: 928px;
  font-size: 20px; }
  #left_list ul {
    min-height: 929px; }

#flash_bar {
  background: black;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #cccccc; }
  #flash_bar a {
    margin-left: 4px;
    color: #cccccc; }
  #flash_bar .user {
    float: right; }

#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: black; }
  #errorExplanation p {
    color: black;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
